In [1]:
import statistics as st
import pandas as pd

In [2]:
dataset = pd.read_csv("Housing.csv")
print(dataset)

        price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0    13300000  7420         4          2        3      yes        no       no
1    12250000  8960         4          4        4      yes        no       no
2    12250000  9960         3          2        2      yes        no      yes
3    12215000  7500         4          2        2      yes        no      yes
4    11410000  7420         4          1        2      yes       yes      yes
..        ...   ...       ...        ...      ...      ...       ...      ...
540   1820000  3000         2          1        1      yes        no      yes
541   1767150  2400         3          1        1       no        no       no
542   1750000  3620         2          1        1      yes        no       no
543   1750000  2910         3          1        1       no        no       no
544   1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
0                no             yes        2      yes        furnished
1                no             yes        3       no        furnished
2                no              no        2      yes   semi-furnished
3                no             yes        3      yes        furnished
4                no             yes        2       no        furnished
..              ...             ...      ...      ...              ...
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

[545 rows x 13 columns]

In [3]:
price = dataset['price']
print("The average price of house is",st.mean(price))

The average price of house is 4766729.247706422

In [4]:
print("The mode price of house is",st.mode(price))

The mode price of house is 4200000

In [5]:
print("The median value of all the prices is",st.median(price))

The median value of all the prices is 4340000

In [6]:
print("The harmonic mean of the prices is", st.harmonic_mean(price))

The harmonic mean of the prices is 4152231.3412737525

In [7]:
print("The median low of the price is", st.median_low(price))

The median low of the price is 4340000

In [8]:
print("The median high of the price is",st.median_high(price))

The median high of the price is 4340000

In [9]:
print("The grouped median of the house price is", st.median_grouped(price))

The grouped median of the house price is 4340000.0

In [15]:
bedrooms = dataset['bedrooms']
print("The variance of the no. of bedrooms is ", st.variance(bedrooms))

The variance of the no. of bedrooms is  0.544738262277388

In [11]:
print("The pvariance of the no. of bedrooms is", st.pvariance(bedrooms))

The pvariance of the no. of bedrooms is 0.54373874253009

In [12]:
print("The standard deviation of house prices is", st.stdev(price))

The standard deviation of house prices is 1870439.6156573922

In [13]:
numDataset = dataset.iloc[:,0:4]
print("The mean of the dataset are:-\n",numDataset.mean())
print("The mode of the dataset are:-\n",numDataset.mode())
print("The symmetry of the dataset are:-\n",numDataset.skew())

The mean of the dataset are:-
 price        4.766729e+06
area         5.150541e+03
bedrooms     2.965138e+00
bathrooms    1.286239e+00
dtype: float64
The mode of the dataset are:-
      price    area  bedrooms  bathrooms
0  3500000  6000.0       3.0        1.0
1  4200000     NaN       NaN        NaN
The symmetry of the dataset are:-
 price        1.212239
area         1.321188
bedrooms     0.495684
bathrooms    1.589264
dtype: float64